@-webkit-keyframes door-opens-seal
  0%
    opacity: 1
  33%
    opacity: 0
  100%
    opacity: 0

@-webkit-keyframes door-opens-left
  0%
    left: 0
  33%
    left: 0
  100%
    left: -50%

@-webkit-keyframes door-opens-right
  0%
    left: 50%
  33%
    left: 50%
  100%
    left: 100%

@-o-keyframes door-opens-seal
  0%
    opacity: 1
  33%
    opacity: 0
  100%
    opacity: 0

@-o-keyframes door-opens-left
  0%
    left: 0
  33%
    left: 0
  100%
    left: -50%

@-o-keyframes door-opens-right
  0%
    left: 50%
  33%
    left: 50%
  100%
    left: 100%

@-moz-keyframes door-opens-seal
  0%
    opacity: 1
  33%
    opacity: 0
  100%
    opacity: 0

@-moz-keyframes door-opens-left
  0%
    left: 0
  33%
    left: 0
  100%
    left: -50%

@-moz-keyframes door-opens-right
  0%
    left: 50%
  33%
    left: 50%
  100%
    left: 100%

@keyframes door-opens-seal
  0%
    opacity: 1
  33%
    opacity: 0
  100%
    opacity: 0

@keyframes door-opens-left
  0%
    left: 0
  33%
    left: 0
  100%
    left: -50%

@keyframes door-opens-right
  0%
    left: 50%
  33%
    left: 50%
  100%
    left: 100%

.odtg
  font-family: sans-serif
  position: relative

  *
    box-sizing: border-box

  .risk-1
    background: rgb(138, 255, 135)
  .risk-2
    background: rgb(155, 255, 135)
  .risk-3
    background: rgb(175, 255, 135)
  .risk-4
    background: rgb(220, 255, 135)
  .risk-5
    background: rgb(255, 255, 135)
  .risk-6
    background: rgb(255, 200, 135)
  .risk-7
    background: rgb(255, 135, 135)
  .risk-8
    background: rgb(255, 100, 100)
  .risk-9
    background: rgb(255, 80, 80)
  .risk-10
    background: rgb(255, 0, 0)

  .score-state
    text-align: center
    font-size: 25px
    font-weight: bold
    margin: 0 15px 15px 15px

    .level
      display: inline-block
      margin: 0 50px
      text-align: center
      transition: color 2s

      &.recent-up
        transition: color 0s
        color: green

      &.recent-down
        color: red
        transition: color 0s

      .title
        display: inline-block

      .value
        display: inline-block
        margin-left: 10px

    .money
      display: inline-block
      margin: 0 50px
      text-align: center
      transition: color 2s

      &.recent-up
        color: green
        transition: color 0s

      &.recent-down
        color: red
        transition: color 0s

    .lives
      display: inline-block
      margin: 0 50px
      text-align: center
      
      .heart
        color: red
        margin-left: 2px

        &.lost-heart
          color: black

  .action-options

    .option-open
      display: inline-block
      width: 398px
      background: #eee
      padding: 10px

    .option-verbage
      display: inline-block
      width: 324px
      text-align: center  
      padding: 10px 0

    .option-reset
      display: inline-block
      width: 300px
      padding: 10px 0
      font-weight: bold
      cursor: pointer

      .cost
        margin-left: 10px

  .door-list-checks-strikes
    font-size: 30px
    text-align: center
    padding-bottom: 15px

    .door-result
      padding: 0 10px

      &.empty
        color: #ccc

      &.check.filled
        color: #76F478

      &.strike.filled
        color: #FF8080

  .door-list
    background: #eee

    .door
      display: inline-block
      width: calc(20% - 30px)
      height: 60px
      margin: 15px
      text-align: center
      font-size: 25px
      box-shadow: 0px 0px 8px #666
      border-top: solid 5px #7B3203;
      border-bottom: solid 5px #7B3203;
      overflow: hidden
      position: relative

      &.unopened
        cursor: pointer

      &.check
        background: #76F478

      &.strike
        background: #FF8080

      .door-mover
        z-index: 2
        position: relative
        width: 100%
        height: 100%

        &.opened
          .door-seal
            -webkit-animation: door-opens-seal .75s forwards
            -o-animation: door-opens-seal .75s forwards
            -moz-animation: door-opens-seal .75s forwards
            animation: door-opens-seal .75s forwards
          .door-left
            -webkit-animation: door-opens-left .75s forwards
            -o-animation: door-opens-left .75s forwards
            -moz-animation: door-opens-left .75s forwards
            animation: door-opens-left .75s forwards
          .door-right
            -webkit-animation: door-opens-right .75s forwards
            -o-animation: door-opens-right .75s forwards
            -moz-animation: door-opens-right .75s forwards
            animation: door-opens-right .75s forwards

        .door-seal
          display: inline-block
          position: absolute
          width: 40px
          height: 40px
          border-radius: 20px
          border: solid 2px #666
          color: black
          left: calc(50% - 20px)
          top: calc(50% - 20px)
          z-index: 3
          line-height: 35px
          
        .door-left
          width: 50%
          height: 100%
          position: absolute
          left: 0
          border-right: solid 1px #666
          background: #fff

        .door-right
          width: 50%
          height: 100%
          position: absolute
          left: 50%
          border-left: solid 1px #666
          background: #fff

      .result
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 40px

      .reward
        display: block
        position: absolute
        bottom: 0
        font-size: 15px
        width: 100%
        height: 20px

  .door-spectrum
    text-align: center

    .risky-label
      margin-left: 30px

    .safe-label
      margin-right: 30px

    .door-color
      display: inline-block
      width: calc((100% - 400px) / 10)

      &:after
        content: '\00a0'

  .help-view
    cursor: pointer

    .help-toggle
      position: absolute
      top: 0
      right: 5px
      font-size: 30px
      color: rgb(255, 245, 59);
      text-shadow: 0 0 5px black;

    .help-overlay
      position: fixed
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(0,0,0,.90)
      z-index: 10
      color: #e9e9e9
      font-size: 20px
      margin: 0
      
      &.inactive
        display: none

      &.active
        display: block

      .help-items
        width: 1024px
        margin: 200px auto 0 auto

        .help-item
          margin-top: 10px

  .high-scores-data-view
    cursor: pointer

    .high-scores-toggle
      position: absolute
      top: 0
      left: 5px
      font-size: 30px
      color: rgb(255, 245, 59);
      text-shadow: 0 0 5px black;

    .high-scores-overlay
      position: fixed
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(0,0,0,.95)
      z-index: 10
      color: #e9e9e9
      font-size: 15px
      margin: 0

      &.inactive
        display: none

      &.active
        display: block

      .high-scores-container
        width: 1024px        
        margin: 150px auto 0 auto

        .high-scores-list
          width: 50%
          height: 100%
          float: right
          display: inline-block
          
          &.small-list
            height: 180px

          &.main-list
            padding-left: 50px

          .list-title
            font-size: 20px
            border-bottom: solid 1px white

          .list-data
            .list-item
              margin-top: 10px

              .name
                width: 75px
                display: inline-block

              .score
                width: 75px
                display: inline-block

              .level
                width: 75px
                display: inline-block

              .date
                margin-left: 15px
                display: inline-block

  .game-over-overlay
    cursor: pointer
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(0,0,0,.95)
    display: none
    z-index: 15

    &.active
      display: block

    .game-over-view      
      color: #e9e9e9      
      font-size: 20px
      width: 1024px
      margin: 100px auto 0 auto

      .title
        font-size: 75px
        text-align: center
        font-weight: bold
        color: white
        background: -webkit-linear-gradient(rgb(255, 80, 80), #ff0000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 25px

      .name-label
        display: inline-block
        font-size: 30px

      .game-name
        display: inline-block
        margin-left: 15px
        font-size: 30px

      .game-score
        display: inline-block
        margin-left: 100px
        font-size: 30px

      .game-level
        display: inline-block
        margin-left: 100px
        font-size: 30px

      .high-scores-list
        width: 100%
        margin-top: 50px
        
        .list-title
          font-size: 20px
          border-bottom: solid 1px white

        .list-data
          .list-item
            margin-top: 10px

            .name
              width: 75px
              display: inline-block

            .score
              width: 75px
              display: inline-block

            .level
              width: 75px
              display: inline-block

              .level-title
                margin-right: 5px

            .date
              margin-left: 15px
              display: inline-block

      .new-game-button
        font-size: 45px
        text-align: center
        font-weight: bold
        color: #E4FF93

        .icon
          margin-right: 10px
          background: -webkit-linear-gradient(#9bff87, #fff)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent

// @media (max-width: 450px)
@media (max-width: 1024px)

  .odtg

    .score-state
      margin: 0 0 5px 0
      
      .level, .money, .lives
        margin: 0 10px

    .action-options
      .option-open, .option-verbage, .option-reset
        width: auto
        background: none
        padding: 5px 3px

    .door-list
      .door
        margin: 5px
        width: calc(50% - 10px)

    .door-spectrum
      position: relative
      
      .risky-label
        position: absolute
        right: 5px
        margin: 0

      .safe-label
        position: absolute
        left: 5px
        margin: 0

      .door-color
        display: inline-block
        width: 10%

    .help-view

      .help-toggle
        top: 5px
        right: 5px

      .help-overlay

        .help-items
          width: 100%
          margin: 75px 0 0 0

    .high-scores-data-view

      .high-scores-overlay
        padding: 20px 5px

        .high-scores-container
          width: 100%
          margin: 0

          .high-scores-list
            width: 100%
            padding: 0
            margin: 10px 0 0 0

            &.main-list, &.small-list
              padding: initial
              height: auto

            .list-data 
              margin: 3px 0

              .list-item
                margin: 0

      .high-scores-toggle
        top: 5px
        left: 5px

    .game-over-overlay
      .game-over-view
        font-size: 15px
        width: 100%
        margin: 20px auto 0 auto

        .title
          font-size: 35px
          margin-bottom: 15px

        .name-label
          font-size: 20px

        .name
          font-size: 20px

        .game-score
          font-size: 20px

        .game-level
          font-size: 20px

        .high-scores-list
          margin-top: 20px

          .list-data 
            margin: 3px 0

            .list-item
              margin: 0

              .score, .level, .name
                width: 50px

        .new-game-button
          font-size: 30px